@use './_variable.scss' as vars;


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    .navContainer{
        display: flex;
    }
    .navlinks{
        padding: 0 1rem;
        color: #000;
        font-weight: 500;
        font-size: 1rem;
    }
    .navBtn{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .shoppingIcon{
      color: vars.$primary-color;
    }
    button{
        width: 5rem;
        height: 2rem;
        border-radius: 2rem;
        outline: none;
        border: none;
        background-color: vars.$primary-color;
        color: #fff;
    }
  }