@import "./_variable.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 0;
  h1 {
    font-weight: 700;
    font-size: 32px;
  }
  .navContainer {
    display: flex;
  }

  .navlinks {
    padding: 0 1rem;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
  }
  .navBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .shoppingIcon {
    color: $primary-color;
  }

  button {
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: $primary-color;
    color: #fff;
  }
  .arrowicon {
    margin-left: -12px;
    margin-bottom: -4px;
  }
  .menuIcon {
    display: none;
    cursor: pointer;
  }

  @media (max-width: 400px) {
    .menuIcon {
      display: block;
      color: #000;
    }
  }

  @media (max-width: 1024px) {
    .navContainer {
      display: none;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      width: 100%;
    }

    .showMenu {
      position: absolute;
      right: 0;
      top: 50px;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      background-color: #fff;
    }

    .arrowicon {
      margin-left: -12px;
      margin-bottom: -4px;
    }

    .navItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .navlinks {
      padding: 0.2rem 1rem;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .navBtn {
      display: none;
    }
  }
}
